@font-face {
    font-family: 'inter';
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}



html {
    scroll-behavior: smooth;
}


body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden
}

.link {
    color: white;
    text-decoration: none;
}

.link1 {
    text-decoration: none;
    color: rgb(34, 34, 34);
}

.test-verde {
    background-color: chartreuse;
    height: 3000px;
}

.cabecalho {
    background-color: #232628;
    display: flex;
    height: 108px;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    box-sizing: border-box;
}

.logo-cabecalho {
    padding-top: 15px;
    padding-left: 53px;
    cursor: pointer;
    overflow-x: hidden
}

.menu-rede-social {
    display: flex;
    flex-direction: row-reverse;
}

.logo-rede-social {
    padding: 10px;
    cursor: pointer;
}

.menu-barra {
    margin-left: 20%;
    display: block;
    justify-content: flex-end;
    padding-top: 19px;
    padding-top: 20px;

}

.menu {
    font-family: inter;
    font-size: 20px;
    display: flex;
    text-decoration: none;
    color: white;
}

.menu-link {
    text-decoration: none;
    color: white;
    margin-right: 5px;
    cursor: pointer;
}

.barra-vermelho-cabecalho {
    display: flex;
    width: 990px;
    height: 10px;
    background-color: #D71F29;
}

.barra-vermelho-cabecalho1 {
    justify-content: flex-end;
}

.banner {
    background-color: #232628;
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* Ajuste a largura do banner */
    height: 500px;
    /* Ajuste a altura do banner */
    overflow: hidden; 
}

.apresentacao {
    padding: 80px 120px 80px 0px;
    background-color: #232628;
    color: white;
    display: flex;
    justify-content: space-between;
}

.texto-video-box {
    display: flex;
    flex-direction: column;
    width: 659px;

}

.titulo-video {
    font-family: 'inter';
    padding-left: 120px;
}

.barra-vermelha-videos {
    display: flex;
    width: 659px;
    height: 10px;
    background-color: #D71F29;
}

.texto-do-video {
    padding-top: 5px;
    padding-left: 120px;
    display: flex;
    justify-content: flex-end;
    font-family: 'inter';
}

.texto-video-box2 {
    display: flex;
    justify-content: flex-end;
}

.texto-video-box {
    margin: 5px;
}
.destaque{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.linha {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.coluna {
    display: block;
    padding-bottom: 41 px;
    border: 1px solid #000000;
    width: 268px;
    height: 399px;
    background-color: #F8F8F8;
    cursor: pointer;
}

.foto-destaque {
}

.foto-destaque-box {
    height: 226px;
    width: 268px;
}

.descrição-destaque {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.titulo-do-carro-destaque {
    display: flex;
    justify-content: space-between;
}

.marca-barra-vercao {
    display: flex;
    flex-direction: column;
}

.marca {
    padding-left: 5px;
    font-size: 25px;
    font-family: 'inter';
}

.vercao {
    padding-left: 5px;
    padding-top: 5px;
    height: 62px;
    font-size: 15px;
    font-family: 'inter';
    padding-right: 5px;
    color: #414141;
}

.ano-destaque {
    display: flex;
    justify-content: flex-end;
    font-size: 22px;
    font-family: 'inter';
    padding-right: 5px;

}

.barra-vermelho-destaque {
    display: flex;
    width: 193px;
    height: 10px;
    background-color: #D71F29;
}

.descrição-destaque-box {

    display: flex;
    height: 60px;
    justify-content: space-between;

}

.km {
    padding-left: 5px;
    padding-bottom: 5px;
    font-family: 'inter';
}

.valor {
    padding-right: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: 'inter';
    font-size: 20px;
}

.km {
    padding-top: 5px;
    display: flex;
    align-items: flex-end;
    font-family: 'inter';
}


.titulo-central {
    padding-top: 41px;
    padding-bottom: 41px;
    text-align: center;
    font-family: 'inter';

}

.acabamento-do-botao {
    text-decoration: none;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao-ver-mais {
    text-decoration: none;
    font-size: 25px;
    font-family: 'inter';
    background-color: #D71F29;
    padding: 10px;
    text-align: center;
    border: none;
    color: white;
}

.localizacao {
    padding: 80px 0px 80px 120px;
    background-color: #232628;
    color: white;
    display: flex;
    justify-content: space-between;
}

.texto-endereço-box {}

.texto-endereço-box {
    display: flex;
    flex-direction: column;
    width: 659px;
}

.titulo-localisacao {
    font-family: 'inter';
    padding-right: 120px;
}

.barra-vermelha-localisacao {
    display: flex;
    width: 659px;
    height: 10px;
    background-color: #D71F29;
}

.texto-da-localisacao {
    padding-right: 120px;
    display: flex;
    font-family: 'inter';
}

.galeria-de-fotos {}


.fotos-galeria {
    display: flex;
    justify-content: center;

}

.foto-500 {
    border: 1px solid #000000;
    background-color: black
}

.foto-250 {
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    background-color: black
}

.foto-2500 {
    border: 1px solid #000000;
}

.roda-pe {
    background-color: #232628;
    height: 200px;
}

.roda-pe-ajuste {
    display: flex;
    flex-direction: column;
    width: 1080px;
}

.barra-vermelha-roda-pe {
    display: flex;
    width: 1080px;
    height: 10px;
    background-color: #D71F29;
}

.roda-pe-infor {
    display: flex;
    justify-content: space-around;
    padding: 25px 0px 25px 40px;


}

.logo-roda-pe {}

.logo-roda-pe-box {}

.horario {
    display: flex;
    flex-direction: column;
}

.titulo-horario {
    font-family: 'inter';
    color: white;
}

.os-horario {
    padding-top: 10px;
    font-family: 'inter';
    color: white;
}

.rede-social-roda-pe {
    display: flex;
    flex-direction: column;

}

.titulo-rede-social-roda-pe {
    font-family: 'inter';
    color: white;
}

.icone-rede-social-roda-pe {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;

}

.icone-rede-social {}

.titulo-showrrom {
    width: auto;
    display: flex;
    font-family: 'inter';
    padding: 50px;
    align-items: center;
    justify-content: center;
}

.filtro-estoque {
    display: flex;
    justify-content: space-between;
}

.filtro {
    width: 250px;
    height: 450px;
    background-color: rgb(236, 236, 236);

}

.estoque {
    display: flex;
    width: 1078px;
    padding-bottom: 50px;
}


.barra-vermelha-filtro {
    display: flex;
    width: 250px;
    height: 10px;
    background-color: #D71F29;
}

.seleção-marca {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    width: 250px;
    height: auto;
    flex-direction: column;

}

.seleção-marca-titulo {
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: center;
    display: flex;
    font-size: 21px;
}

.seleção-marca-barra-de-pesquisa {
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: center;
    display: flex;

}

.txtbusca {
    float: left;
    background-color: white;
    padding-left: 5px;
    font-style: italic;
    font-size: 16px;
    border: none;
    height: 32px;
    width: 200px;
    color: grey;
}

.valor-filtro-box {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;

}

.seleciona-valor {
    float: left;
    background-color: white;
    padding-left: 5px;
    font-style: italic;
    font-size: 16px;
    border: none;
    height: 28px;
    width: 82px;
    color: grey;
    cursor: pointer;
}

.seleção-km {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.seleciona-km {
    float: left;
    background-color: white;
    padding-left: 5px;
    font-style: italic;
    font-size: 16px;
    border: none;
    height: 28px;
    width: 200px;
    color: grey;
    cursor: pointer;
}

.botao-aplicar {
    font-size: 25px;
    font-family: 'inter';
    background-color: #D71F29;
    padding: 5px;
    text-align: center;
    border: none;
    color: white;
    cursor: pointer;
}

.botao-aplicar-box {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.titulo-marca-modelo-verca-ano {

    display: flex;
    font-family: 'inter';
    padding: 50px 0px;
    width: 1000px;
    justify-content: center;
    font-size: 20px;
    background-color: #232628;

}

.foto-carro-slide {
    display: flex;
    justify-content: center;
    width: 1000px;

}

.corpo-alinhado {

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 171.5px;
    padding-right: 171.5px;


}

.foto-carro {
    display: flex;
    justify-content: center;
}

.foto-carro-box {
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 600px;
}


.informacao-box {
    width: 1000px;
}

.fundo-cinza {
    margin-top: 50px;
    width: 1000px;
    background-color: #232628;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.fundo-cinza-titulo {

    padding: 25px;
    width: 1000px;
    display: flex;
    justify-content: center;

}

.barra-vermelha-fundo-cinza {
    background-color: #D71F29;
    display: flex;
    justify-content: end;
    width: 600px;
    height: 10px;
    align-items: end;
}

.fundobranco {
    display: flex;
    justify-content: space-around;
    background-color: #e4e4e4;
    width: 1000px;
    padding: 10px 20px;

}

.fundobrancobox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mine-titulo-informacao {
    font-size: 18px;
    font-family: 'inter';
}

.mine-informacao {
    font-size: 30px;
    font-family: 'inter';
}

.fundo-branco-ordena {
    display: flex;
    justify-content: space-around;
    background-color: #e4e4e4;
    width: 1000px;
    padding: 25px 20px;
    font-size: 18px;
}

.fundobranco1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #e4e4e4;
    width: 1000px;
    padding: 10px 20px;
}

.medio-titulo-tecnico {
    font-size: 20PX;
    display: flex;
    justify-content: center;
    padding: 22px;
}

.mine-titulo-tecnico {
    font-size: 18px;
    font-family: 'inter';
    text-align: center;
}

.mine-tecnico {
    font-size: 18px;
    font-family: 'inter';
    color: rgb(48, 48, 48);
    text-align: center;
}

.fundobrancobox1 {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

footer {
    margin-top: 50px;
}