@font-face {
    font-family: 'inter';
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}
#Comentário


body{
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden
}

.cabecalho {
    background-color: #232628;
    display: flex;
    height: 108px;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    box-sizing: border-box;
}

.logo-cabecalho {
    padding: 41px 53px 17px;
}

.menu-rede-social {
    display: flex;
    flex-direction: row-reverse;
}

.logo-rede-social {
    padding: 10px;
}

.menu-barra {
    margin-left: 20%;
    display: block;
    justify-content: flex-end;
    padding-top: 20px;

}

.menu {
    font-family: inter;
    font-size: 20px;
    display: flex;
    text-decoration: none;
    color: white;
}

.menu-link {
    text-decoration: none;
    color: white;
    margin-right: 5px;
    
}

.barra-vermelho-cabecalho {
    display: flex;
    width: 990px;
    height: 10px;
    background-color: #D71F29;
}

.barra-vermelho-cabecalho1 {
    justify-content: flex-end;
}

.banner {
    object-fit: cover; 
    justify-content: center;
    background-color: #F5F5F5;
}

.apresentacao {
    padding: 70px 152px 70px 0px;
    background-color: #232628;
    color: white;
    display: flex;
    justify-content: space-between;
}

.texto-video-box{
    display: flex;
    flex-direction: column;
    width: 709px;
    
}

.titulo-video{
    display: flex;
    justify-content: flex-end;
}

.barra-vermelha-videos{
    display: flex;
    width: 709px;
    height: 10px;
    background-color: #D71F29;
}

.texto-do-video{
    padding-left: 230px;
    display: flex;
    justify-content: flex-end;
}

.texto-video-box2{
    display: flex;
    justify-content: flex-end;
}

.texto-video-box {
    margin: 5px;
}

.linha {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.coluna {
    display: block;   
    border: 1px solid #000;
}

.foto-destaque{
  height: 226px;
  width: 100%;
}

.titulo-central {
    padding-top: 41px;
    padding-bottom: 41px;
    text-align: center;
}

.botao-ver-mais {
    padding-top: 41px;
    padding-bottom: 41px;
    text-align: center;
}

.localizacao {
    padding: 152px 91px;
    background-color: #232628;
    color: white;
    display: flex;
}

.texto-endereço-box {
    margin: 50px;
}
