* {
    margin: 0
}

.cabecalho{
    background-color: #232628;
    padding: 41px 53px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.banner{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    
  background-color: #F5F5F5;
}

